@page
@model IndexModel
@{    
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
    <h1>CONGRATS! You've Authenticated to the Test WA using AAD Auth 💜</h1>
    <p class="lead">Example .NET app to Azure App Service.</p>
</div>
